{% extends "base_layout.html" %}

{% block content %}
<h2>{{ object.username|  capfirst }}'s Profile</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <dl  class="dl-horizontal">
            {% if object.userprofile.user.first_name%}
            <dt>First name:</dt>
                <p>{{ object.userprofile.user.first_name }}</p>
            {% endif %}
            {% if object.userprofile.user.last_name%}
            <dt>Last name:</dt>
                <p>{{ object.userprofile.user.last_name }}</p>
            {% endif %}
            {% if object.userprofile.telephone%}
            <dt>Telephone:</dt>
                <p>{{ object.userprofile.telephone }}</p>
            {% endif %}
            {% if object.userprofile.level%}
            <dt>Level:</dt>
                <p>{{ object.userprofile.level }}</p>
            {% endif %}
            {% if object.userprofile.moh_facility%}
            <dt>Moh_facility:</dt>
                <p>{{ object.userprofile.moh_facility }}</p>
            {% endif %}
        </dl>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% if object.username == user.username %}
<p><a href='{% url "edit_profile" %}'>Edit my profile</a></p>
{% endif %}
{% endblock %}
