{% extends "base_layout.html" %}
{% block content %}
{% if object %}
<h2>Centre de sante : {{ object.name|  capfirst }}</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>Description </h1>
            <dl class="dl-horizontal">
                <dt>Name of the CDS : </dt>
                <p> {{object.name}}</p>
                <dt>Code of the CDS : </dt>
                <p> {{object.code}}</p>
                <dt>District : </dt>
                <p> {{object.district}}</p>
                <dt>Province : </dt>
                <p> {{object.district.province.name}}</p>
            </dl>
        </div>
        <div class="col-md-9">
            <h1>Patients at  {{ object.name|  capfirst }} CDS  </h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID du Patient</th>
                        <th>Colline</th>
                        <th>Intervention</th>
                        <th>CDS</th>
                        <th>Sex</th>
                        <th>Age</th>
                        <th>Date Entry</th>
                    </tr>
                </thead>
                {% for patient in patients %}
                <tr>
                    <td> {{patient.patient_id }} </td>
                    <td>{{patient.colline_name  }}</td>
                    <td>{{patient.intervention }}</td>
                    {% with patient.cds.id as cds_id  %}
                    <td><a href="{% url 'cds_detail' pk=cds_id %}">{{patient.cds }}</a></td>
                    {% endwith %}
                    <td>{{patient.sexe }}</td>
                    <td>{{patient.age }}</td>
                    <td>{{patient.date_entry }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endblock content %}