{% extends "base_layout.html" %}
{% block content %}
{% if object_list %}
    <div class="container">
        <div class="row">
            <form action="{% url 'get_statistics' %}" method="post" id="post-form">
        {% csrf_token %}
        <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-6">
            <div class="form-group list-group">
                {% for field in search_form %}
                    <div>{{ field.label_tag }}: {{ field }}</div>
                    {% for error in field.errors %}
                      <p  style="color: red;">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
              <button type="submit" class="btn btn-default">Filter</button>
          </div>
        </div>
        <div class="col-lg-4">
            <p>Export: <span class="glyphicon glyphicon-download-alt"></span></p>
        </div>
        </div>
    </form>
        </div>
    </div>
    <div class="container">
        <h3>Districts Sanitaires.</h3>
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <table id="list_cds" class="table table-bordered">
        <thead>
              <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Province</th>
              </tr>
            </thead>
        {% for cds in object_list %}
            <tr>
                {% with cds.id as code  %}
                    <td><a href="{% url 'district_detail' pk=code %} " class="btn btn_link">{{ cds.name }}</a></td>
                    <td>{{ cds.code}}</td>
                    <td>{{ cds.province}}</td>
                {% endwith %}
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    </div>
    <div class="col-md-2"></div>

{% else %}
    <p>No District found!!! :(</p>
{% endif %}
    </div>
{% endblock content %}