{% extends "base_layout.html" %}
{% block content %}
{% if object %}
<h2>Centre de sante : {{ object.name|  capfirst }}</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>Description </h1>
            <dl class="dl-horizontal">
                <dt>Name of the District : </dt>
                <p> {{object.name}}</p>
                <dt>Code of the District : </dt>
                <p> {{object.code}}</p>
                <dt>Province : </dt>
                <p> {{object.province}}</p>
            </dl>
        </div>
        <div class="col-md-9">
            <h1>CDS at  {{ object.name|  capfirst }} District  </h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name of the CDS</th>
                        <th>Code</th>
                        <th>District</th>
                    </tr>
                </thead>
                {% for cds in cdss %}
                <tr>
                {% with cds.id as cds_id  %}
                    <td> <a href="{% url 'cds_detail' pk=cds_id %}">{{cds.name }}</a> </td>
                {% endwith %}
                    <td>{{cds.code  }}</td>
                    <td>{{cds.district }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endblock content %}