{% extends "base_layout.html" %}
{% block content %}
{% if object_list %}

    <div class="container">
        <div class="row">
        <h1>Patients at {{myfacility}} {{mylevel}}</h1>
            <table id="list_cds" class="table table-bordered" data-toggle="table" data-search="true">
            <thead>
                  <tr>
                    <th>Patient Id</th>
                    <th>CDS</th>
                    <th>Colline</th>
                    <th>Age</th>
                    <th>Sexe</th>
                    <th>Intervention</th>
                    <th>Entry Date</th>
                    <th>Exit Date</th>
                    <th>Exit Status</th>
                  </tr>
                </thead>
            {% for patient in object_list %}
                    <tr>
                        {% with patient.id as code  %}
                            <td><a href="{% url 'patient_detail' pk=code %}">{{ patient.patient_id }}</a></td>
                            <td>{{patient.cds}}</td>
                            <td>{{ patient.colline_name}}</td>
                            <td>{{patient.age}}</td>
                            <td>{{patient.sexe}}</td>
                            <td>{{patient.intervention}}</td>
                            <td>{{patient.date_entry}}</td>
                            <td>{{patient.exit_date}}</td>
                            <td>{{patient.exit_status}}</td>
                        {% endwith %}
                    </tr>
                {% endfor %}
            </table>
            {# .... **Now the pagination section** .... #}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% else %}
            <h3>Centre de Sante.</h3>
            <p>No CDS found!!! :(</p>
        {% endif %}
        </div>
    </div>
{% endblock content %}