{% extends "base_layout.html" %}
{% block content %}
{% if object %}
<h2>Patient numero : {{ object.patient_id}} sur le CDS {{ object.cds}} </h2>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-9">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Patient ID</th>
                        <th>CDS</th>
                        <th>Sex</th>
                        <th>Age</th>
                        <th>Colline Name</th>
                        <th>Intervention</th>
                        <th>Date Entry</th>
                        <th>Exit Date</th>
                        <th>Exit Status</th>
                    </tr>
                </thead>
                <tr>
                    <td>{{ object.patient_id}}</td>
                    {% with patient.cds.id as cds_id  %}
                        <td><a href="{% url 'cds_detail' pk=cds_id %}">{{ object.cds}}</a></td>
                    {% endwith %}
                    <td>{{ object.sexe}}</td>
                    <td>{{ object.age}}</td>
                    <td>{{ object.colline_name}}</td>
                    <td>{{ object.intervention}}</td>
                    <td>{{ object.date_entry}}</td>
                    <td>{{ object.exit_date}}</td>
                    <td>{{ object.exit_status}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endblock content %}