{% extends "base_layout.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block page_title %}
<h4><i class="glyphicon glyphicon-list-alt"></i>{% with moh_facility.code as moh  %} Cholera patients at <a href="{% url 'get_by_code' moh %}">{{moh_facility.name}}</a> facility {% now "d/m/Y" as current_year %} between {{sstart_date|default:"the beginning"}} and {{eend_date|default:current_year}}
        {% endwith %}</h4>
{% endblock page_title %}

{% block content %}
        <form action="" method="post" id="post-form" class="form-inline">
        {% csrf_token %}
        <div class="row">
        <div class="col-lg-10">
        {% if form %}
            <div class="row">
            <div class="form-group col-md-3 ">
                <label for="intervention">Intervention :</label>
                    <p>{{form.intervention}}</p>
              </div>
              <div class="form-group col-md-3">
                    <label for="age">Age :</label>
                    <p>{{form.age}}</p>
              </div>
              <div class="form-group col-md-3">
                    <label for="sexe">Sexe :</label>
                    <p>{{form.sexe}}</p>
              </div>
              <div class="form-group col-md-3">
                <label for="exit_status">Exit status :</label>
                    <p>{{form.exit_status}}</p>
            </div>
            </div>
          <div class="row">
            <div class="form-group col-md-3">
                <label for="colline_name">Colline name :</label>
                    <p>{{form.colline_name}}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="start_date">Start date :</label>
                    <p>{{form.start_date}}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="end_date">End date :</label>
                    <p>{{form.end_date}}</p>
            </div>
            <div class="col-md-3">
                <div class="row" style="padding-top: 18px">
                    <button type="submit" class="btn btn-primary" >Analyse</button>
            </div>
          </div>
          <div class="row">
          </div>
        {% endif %}
        </div>
        </div>
    </form>
    </div>
    <hr>
    <div class="row">
        {% if results %}
            <div class="col-md-10">
                {% render_table results %}
            </div>
            <div class="col-md-2"></div>
        {% elif all_patients %}
        <h1>All Patients</h1>
            {% render_table all_patients %}
        {% endif %}
    </div>
{% endblock content %}