{% extends "base_layout.html" %}
{% block content %}
{% if object_list %}
    <table id="list_cds" class="table table-bordered">
        <thead>
              <tr>
                <th>Patient Id</th>
                <th>CDS</th>
                <th>Colline</th>
                <th>Age</th>
                <th>Sexe</th>
                <th>Intervention</th>
                <th>Entry Date</th>
              </tr>
            </thead>
        {% for cds in object_list %}
            <tr>
                {% with cds.id as code  %}
                    <td><a href="{% url 'patient_detail' pk=code %}">{{ cds.patient_id }}</a></td>
                    <td>{{cds.cds}}</td>
                    <td>{{ cds.colline_name}}</td>
                    <td>{{cds.age}}</td>
                    <td>{{cds.sexe}}</td>
                    <td>{{cds.intervention}}</td>
                    <td>{{cds.date_entry}}</td>
                {% endwith %}
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <h3>Centre de Sante.</h3>
    <p>No CDS found!!! :(</p>
{% endif %}
{% endblock content %}