{% extends "base_layout.html" %}
{% load render_table from django_tables2 %}

{% block page_title %}
<h3><i class="glyphicon glyphicon-list-alt"></i> Analytics of patients by Provinces</h3>
{% endblock page_title %}

{% block content %}
{% if statistics %}
<h2></h2>
<div class="container">
    <div class="row">
        <div class="col-md-9">
        <div class="row">
                <form action="{% url 'landing' %}" method="post" id="post-form" class="form-inline">
                {% csrf_token %}
                    <div class="form-group col-md-3">
                        <label for="start_date">Start Date :</label>
                        {{form.start_date}}
                    </div>
                    <div class="form-group col-md-3">
                        <label for="age">End Date :</label>
                        {{form.end_date}}
                    </div>
                    <div class="col-md-2">
                        <div class="row" style="padding-top: 18px">
                            <button type="submit" class="btn btn-primary" >Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
        <div class="row">
        <ul class="nav nav-tabs">
                <div class="page-header">
                  <h3>Rapports par provinces</h3>
                </div>
                  <li {% block provinces %}class="active"{% endblock provinces %} >
                    <a href="#provinces"   data-toggle="tab">Provinces</a>
                  </li>
                  <li {% block patients %}{% endblock patients %} >
                    <a href="#patients"   data-toggle="tab">Patients</a>
                  </li>
            </ul>
        <div class="tab-content">
            <div class="tab-pane {% block activeprovinces %}active{% endblock activeprovinces %}" id="provinces">
        {% if start_date != None  %}
            {% now "d/m/Y" as current_year %}
            Displaying results from : <span class="badge">{{start_date|default:"The Beginning"}}</span> to : <span class="badge">{{end_date|default:current_year}}</span>
        {% endif %}
            {% render_table statistics %}
            </div>
            <div class="tab-pane {% block activepatients %}{% endblock activepatients %}" id="patients">
                <table class="table table-bordered" data-toggle="table"  data-show-export="true" data-search="true" data-export-types=['csv','excel'] data-show-footer="true">
                    <thead>
                        <tr>
                            <th>District</th>
                            <th>Date</th>
                            <th>Heure</th>
                            <th>NC</th>
                            <th>CUMUL</th>
                            <th>HOSP</th>
                            <th>Sorties</th>
                            <th>Deces</th>
                            <th>CUMUL
                            <p>DES DECES</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Hôpital/ CDS GIHANGA</td>
                            <td>Samedi le 10 10 2015</td>
                            <td>8h00</td>
                            <td>15</td>
                            <td>15</td>
                            <td>14</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Samedi le 11 10 2015</td>
                            <td>8h00</td>
                            <td>3</td>
                            <td>18</td>
                            <td>14</td>
                            <td>3</td>
                            <td>0</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>


</div>

{% else %}
No Patient in this Province
{% endif %}
{% endblock content %}