{% extends "base_layout.html" %}
{% load extras_utils %}

{% block page_title %}
<h3><i class="glyphicon glyphicon-list-alt"></i> Provinces.</h3>
{% endblock page_title %}

{% block content %}
{% if object_list %}
    <div class="col-md-8">
    <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                </tr>
            </thead>
    {% for province in object_list %}
            <tr>
                {% with province.id as code  %}
                {% if user|has_group:'Central' %}
                    <td><a href="{% url 'province_detail' pk=code %} " class="btn btn_link">{{ province.name}}</a></td>
                    {% else %}
                    <td>{{ province.name}}</td>
                {% endif %}
                    <td>{{ province.code }}</td>

                {% endwith %}
            </tr>
        {% endfor %}
    </table>
    <div class="col-md-6"></div>

    </div>
    <div class="col-md-4"></div>

{% else %}

    <p>No Provinces found!!! :(</p>
{% endif %}
{% endblock content %}