{% extends "base_layout.html" %}
{% load render_table from django_tables2 %}
{% block content %}
{% if statistics %}
<h2></h2>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        <h2>All Provinces</h2>
        </div>
        <div class="col-md-9">
        <h3>Analytics of patients by Provinces</h3>
        <div class="row">
                <form action="" method="post" id="post-form" class="form-inline">
                {% csrf_token %}
                    <div class="form-group col-md-3">
                        <label for="start_date">Start Date :</label>
                        {{search_form.start_date}}
                    </div>
                    <div class="form-group col-md-3">
                        <label for="age">End Date :</label>
                        {{search_form.end_date}}
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </form>
            </div>
        <div class="row">
            {% render_table statistics %}
        </div>
        </div>
        <div class="col-md-1">
            <h3><a href="{% url 'patient_list' %}">Details</a></h3>
            </table>
        </div>
    </div>


</div>

{% else %}
No Patient in this Province
{% endif %}
{% endblock content %}