{% extends "base_layout.html" %}
{% load render_table from django_tables2 %}
{% block content %}
{% if object %}
<h2>Province : {{ object.name|  capfirst }}</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>Description </h1>
            <dl class="dl-horizontal">
                <dt>Name of the Province : </dt>
                <p> {{object.name}}</p>
                <dt>Code of the Province : </dt>
                <p> {{object.code}}</p>
            </dl>
        </div>
        <div class="col-md-8">
        <h3>Analytics of patients at  {{ object.name|  capfirst }} Province</h3>
        <div class="row">
                <form action="{% url 'province_statistics' pk=object.id %}" method="post" id="post-form" class="form-inline">
                {% csrf_token %}
                    <div class="form-group col-md-3">
                        <label for="start_date">Start Date :</label>
                        {{form.start_date}}
                    </div>
                    <div class="form-group col-md-3">
                        <label for="age">End Date :</label>
                        {{form.end_date}}
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </form>
            </div>
            <div class="row">
                {% render_table statistics %}
            </div>
        </div>
        <div class="col-md-1">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}"><a href="/">{{ message }}</a></div>
            {% endfor %}
        </div>
    </div>


</div>

{% else %}
No Patient in this Province
{% endif %}
{% endblock content %}