{% extends "base_layout.html" %}

{% block actions %}
<ul class="nav nav-tabs">
  <li  {% block activeuser %}class="active"{% endblock activeuser %} ><a href="#user" data-toggle="tab">Users</a></li>
  <li {% block activeprovince %}{% endblock activeprovince %} ><a href="#province"   data-toggle="tab">Province</a></li>
  <li {% block activedistrict %}{% endblock activedistrict %} ><a href="#district"   data-toggle="tab">District</a></li>
  <li {% block activecds %}{% endblock activecds %} ><a href="#cds"   data-toggle="tab">Cds</a></li>
</ul>
{% endblock actions  %}

{% block content %}

<div class="col-md-10">
    <div class="tab-content">
              {% block user1 %}
        <div class="tab-pane {% block activeuser1 %}active{% endblock activeuser1 %}" id="user">
            <h4><i class="glyphicon glyphicon-user"></i></h4>
                <form action="{% url 'create_profile' %}"  method="POST" class="form-inline">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3">
                            <label for="username">{{profile_form.user.username.label_tag}}</label>
                            <p>{{profile_form.user.username.errors}}</p>
                            <p>{{profile_form.user.username}}</p>
                            <p>{{profile_form.user.username.help_text}}</p>
                        </div>
                         <div class="col-md-3">
                            <label for="email">{{profile_form.user.email.label_tag}}</label>
                            <p>{{profile_form.user.email.errors}}</p>
                            <p>{{profile_form.user.email}}</p>
                        </div>
                         <div class="col-md-3">
                            <label for="password">{{profile_form.user.password1.label_tag}}</label>
                            <p>{{profile_form.user.password1.errors}}</p>
                            <p>{{profile_form.user.password1}}</p>
                        </div>
                        <div class="col-md-3">
                            <label for="password2">{{profile_form.user.password2.label_tag}}</label>
                            <p>{{profile_form.user.password2.errors}}</p>
                            <p>{{profile_form.user.password2}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="telephone">{{profile_form.profile.telephone.label_tag}}</label>
                            <p>{{profile_form.profile.telephone.errors}}</p>
                            <p>{{profile_form.profile.telephone}}</p>
                        </div>
                        <div class="col-md-3">
                            <label for="level">{{profile_form.profile.level.label_tag}}</label>
                            <p>{{profile_form.profile.level.errors}}</p>
                            <p>{{profile_form.profile.level}}</p>
                        </div>
                        <div class="col-md-3">
                            <label for="facility">Facilities</label>
                            <p></p>
                                <select name="facility" id="facility">
                                    <option value="">-----</option>
                                </select>
                        </div>
                        <div class="col-md-3">
                            <label for="moh_facility">{{profile_form.profile.moh_facility.label_tag}}</label>
                            <p>{{profile_form.profile.moh_facility.errors}}</p>
                            <p>{{profile_form.profile.moh_facility}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" name="intervalsubmit" class="btn btn-primary">Create</button>
                    </div>
                </form>
              </div>
              {% endblock user1 %}
              <div class="tab-pane {% block activeprovince1 %}{% endblock activeprovince1 %}" id="province">
                <h4><i class="glyphicon glyphicon-comment"></i></h4>
                {% block province %}
                    <form action="{% url 'province_add' %}" method="POST" class="form-inline">
                        {% csrf_token %}
                         <div class="row">
                             <div class="col-md-4">
                                <label for="nameprovince">{{province_form.name.label_tag}}</label>
                                <p>{{province_form.name.errors}}</p>
                                <p>{{province_form.name}}</p>
                            </div>
                            <div class="col-md-4">
                                <label for="codeprovince">{{province_form.code.label_tag}}</label>
                                <p>{{province_form.code.errors}}</p>
                                <p>{{province_form.code}}</p>
                            </div>
                         </div>
                        <div class="row">
                            <button type="submit" name="intervalsubmit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                {% endblock province %}
              </div>
              <div class="tab-pane {% block activedistrict1 %}{% endblock activedistrict1 %}" id="district">
                <h4><i class="glyphicon glyphicon-cog"></i></h4>
                {% block district %}
                    <form action="{% url 'district_add' %}" method="POST" class="form-inline">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <label for="provincedistrict">{{district_form.province.label_tag}}</label>
                                <p>{{district_form.province.errors}}</p>
                                <p>{{district_form.province}}</p>
                            </div>
                             <div class="col-md-4">
                                <label for="namedistrict">{{district_form.name.label_tag}}</label>
                                <p>{{district_form.name.errors}}</p>
                                <p>{{district_form.name}}</p>
                            </div>
                             <div class="col-md-4">
                                <label for="codedistrict">{{district_form.code.label_tag}}</label>
                                <p>{{district_form.code.errors}}</p>
                                <p>{{district_form.code}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" name="intervalsubmit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                {% endblock district %}
              </div>
              <div class="tab-pane {% block activecds1 %}{% endblock activecds1 %}" id="cds">
                <h4><i class="glyphicon glyphicon-list-alt"></i></h4>
                {% block cds %}
                    <form action="{% url 'cds_add' %}" method="POST" class="form-inline">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                <label for="districtcds">{{cds_form.district.label_tag}}</label>
                                <p>{{cds_form.district.errors}}</p>
                                <p>{{cds_form.district}}</p>
                            </div>
                             <div class="col-md-3">
                                <label for="namecds">{{cds_form.name.label_tag}}</label>
                                <p>{{cds_form.name.errors}}</p>
                                <p>{{cds_form.name}}</p>
                            </div>
                             <div class="col-md-3">
                                <label for="codecds">{{cds_form.code.label_tag}}</label>
                                <p>{{cds_form.code.errors}}</p>
                                <p>{{cds_form.code}}</p>
                            </div>
                             <div class="col-md-3">
                                <label for="statuscds">{{cds_form.status.label_tag}}</label>
                                <p>{{cds_form.status.errors}}</p>
                                <p>{{cds_form.status}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" name="intervalsubmit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                {% endblock cds %}
              </div>
    </div>
</div>
{% endblock content %}