{% extends "base_layout.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% block content %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <div class="row">
        <form action="" method="post" id="post-form">
        {% csrf_token %}
        <select id = "selectbox1">
          <option>Please Select Province</option>
          {% for province in provinces %}
            <option value = "{{province.id}}"> {{province.name}} </option>
          {% endfor %}
        </select>
        <select id = "selectbox2">
          <option>Select a District</option>
        </select>
        <select id = "selectbox3">
          <option>Select a CDS</option>
        </select>
    </form>
    </div>
    <div class="row">
        {% if results %}
        <h1>Results of the Search</h1>
            {% render_table results %}
        {% elif all_patients %}
        <h1>All Patients</h1>
            {% render_table all_patients %}
        {% endif %}
    </div>
{% endblock content %}