{% extends "base_layout.html" %}

{% block page_title %}
<h3><i class="glyphicon glyphicon-list-alt"></i> Cas de retard de rapportage</h3>
{% endblock page_title %}

{% block content %}
{% if necessary_data %}
    <table id="any_update" class="table table-bordered">
            <thead>
              <tr>
                <th>Numero du patient</th>
                <th>Date d arrivee</th>
                <th>Telephone du rapporteur</th>
		<th>Telephone du superviseur</th>
		<th>Message au superviseur</th>
              </tr>
            </thead>

        {% for case in necessary_data %}
            <tr>
                <td>{{ case.patient_id }}</td>
                <td>{{ case.entry_date}}</td>
                <td>{{ case.reporter_phone}}</td>
		<td>{{ case.supervisor_phone}}</td>
		<td>{{ case.message}}</td>
            </tr>
        {% endfor %}
    </table>

{% else %}
    <p>Pas de cas de depassement de date de mise a jour.</p>
{% endif %}
{% endblock content %}
